/* CSS VARIABLES --------------------------------------------------------- */
:root {
    /* ## Colors */

    /* ### Theme 1 */

    /* #### Backgrounds */

    --very-dark-desaturated-blue-light: hsl(222, 26%, 31%);
    --very-dark-desaturated-blue-medium: hsl(223, 31%, 20%);
    --very-dark-desaturated-blue-dark: hsl(224, 36%, 15%);

    /* #### Keys */

    --desaturated-dark-blue-light: hsl(225, 21%, 49%);
    --desaturated-dark-blue-dark: hsl(224, 28%, 35%);

    --red: hsl(6, 63%, 50%);
    --dark-red: hsl(6, 70%, 34%);

    --light-grayish-orange: hsl(30, 25%, 89%);
    --grayish-orange: hsl(28, 16%, 65%);

    /* #### Text */

    --very-dark-grayish-blue: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);

    /* ## BORDER RADIUS */
    --base-border-radius: 1rem;
}

/* CSS RESET ------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING ------------------------------------------------------- */
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: var(--very-dark-desaturated-blue-light);
    font-family: "League Spartan", sans-serif;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.calculator {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.container {
    margin: 0 auto;
    max-width: 60rem;
}

/* FONT FACES ------------------------------------------------------------ */
/* league-spartan-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/league-spartan-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* league-spartan-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/league-spartan-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* SCREEN BOX SECTION ---------------------------------------------------- */
.screen-box {
    display: flex;
    justify-content: flex-end;
    padding: 4rem;
    padding-bottom: 3rem;
    border-radius: var(--base-border-radius);
    background-color: var(--very-dark-desaturated-blue-dark);
}

.screen-box output {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--white);
}

/* BUTTONS BOX SECTION --------------------------------------------------- */
.buttons-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem;
    border-radius: var(--base-border-radius);
    background-color: var(--very-dark-desaturated-blue-medium);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue-medium);
    padding: 1.25rem 2rem;
    border-radius: var(--base-border-radius);
    background-color: var(--light-grayish-orange);
    box-shadow: inset 0 -0.5rem 0 0 var(--grayish-orange);
    transition: all 0.2s;
}

.btn:active {
    transform: translateY(0.5rem);
}

.delete,
.reset {
    font-size: 3.6rem;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--desaturated-dark-blue-light);
    box-shadow: inset 0 -0.5rem 0 0 var(--desaturated-dark-blue-dark);
}

.reset {
    grid-column: -5/-3;
}

.equals-to {
    grid-column: -3/-1;
    color: var(--white);
    background-color: var(--red);
    box-shadow: inset 0 -0.5rem 0 0 var(--dark-red);
}
